<?xml version="1.0" encoding="UTF-8"?>
<!--
    Archivo de configuración de Spring para la aplicación GrammarChecker.
    Este archivo define cómo Spring debe escanear componentes y administrar beans.

    Elementos principales:

    1. beans: Elemento raíz que define el contexto de Spring.
    2. context:component-scan: Indica a Spring que escanee automáticamente paquetes
       en busca de clases anotadas con @Component, @Service, @Repository, etc.
       En este caso, se escanea el paquete "edu.eci.arsw".
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- Escaneo de componentes en el paquete "edu.eci.arsw" -->
    <context:component-scan base-package="edu.eci.arsw" />
    
</beans>

    <!-- ESTO PARA ENTENDER ESTO PORQUE LA VERDAD, DURO DE ENTENDER A LA PRIMERA -->